body{
  background: #faffe6;
}

/* element {
  position: absolute;
  inset: 10px 20px 30px 40px; 
} */


.position-area{
    /* inset-area: center; */
    left: 0;
    right: 0;
    margin-inline: auto;
}



.title-page1{
    background-image: url(/images/home3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    align-content: center;
    text-align: center;
    font-size: xxx-large;
    font-weight: 800;
}

.title-page2{
    background-image: url(/images/home4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    align-content: center;
    text-align: center;
    font-size: xxx-large;
    font-weight: 800;
}

.title-page3{
    background-image: url(/images/home5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    align-content: center;
    text-align: center;
    font-size: xxx-large;
    font-weight: 800;
}


.headersection{
    /* background: rgb(2,0,36);
background: linear-gradient(rgba(2,0,36,1) 0%, rgba(0,33,0,1) 50%, rgb(0, 73, 0) 100%);
color: white */
color: #e1b400
}



.animate-typin{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.275);
}


.fade-out-down {
    animation: fade-out-down 2s ease infinite;
  }
  @keyframes fade-out-down {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  
  .fade-in-down {
    animation: fade-in-down 2s ease infinite;
  }
  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  



  .about-img{
    text-align: -webkit-center;
}



/* .about-img::after {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url(/images/dots-yellow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate(-40%, -40%);
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
} */


.property{
/* box-shadow: 4px 6px 13px #00000029; */
transition: all 0.5s;
}

.property:hover{
  /* box-shadow: none; */
  /* background:none; */
}


.features-icon{
    text-align: -webkit-center;

}


#parent-div {
  height: 400px;  /* Adjust as needed */
  overflow-y: scroll;
}


.scrolling-wrapper {
    
  margin-top: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;


  .card {
    display: inline-block;
   
}
  
}

.scroll-container {
  max-height: 500px; /* or any height you need */
  overflow: scroll;
  max-width:100%;
  -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;     /* Hide scrollbar in Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}


.round{
  rotate: 0deg;
  transition: all,1s;
}


.round:hover{
  rotate: 50deg;
}


.dropdown-category span{

  padding-top: 0px;
  margin-left: 1rem;
}




.bounce-out-down {
  animation: bounce-out-down 1s ease;
}
@keyframes bounce-out-down {
  0% { transform: translateY(-30px); 
    opacity: 0;
  }
  /* 50% {
    opacity: 0.5;
    transform: translateY(-10px);
  } */
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}



.bounce-out-up {
  animation: bounce-out-up 1s ease;
}
@keyframes bounce-out-up {
  0% { transform: translateY(0px); 
    opacity: 1;
  }
  /* 50% {
    opacity: 0.5;
    transform: translateY(-10px);
  } */
  100% {
    opacity: 0;
    display: none;
    transform: translateY(-30px);
  }
}


.webkit-center{
  text-align: -webkit-center;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.spinner {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));

}



.spin {
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
